*{
	margin: 0;
	padding: 0;
}
#container{
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,.3)), url(bgImg.jpg);
	width: 100vw;
	height: 100vh;
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #d5e8f5;
	margin: 0 auto;
	position: relative;
	top: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(156, 156, 156);
}

#result{
	height: 120px;
}

#history{
	text-align: right;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

div#output {
    text-align: right;
    font-size: 30px;
    margin: 10px 20px;
}

#keybord{
	height: 400px;
}

.operator,
.number,
.empty{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 15px;
	float: left;
	border: 0px;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty {
    background-color: #d5e8f5;
}
.number, .operator{
	cursor: pointer;
}
.operator:active,
.number:active{
	font-size: 13px;
}
.operator:focus,
.number:focus,
.empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: orangered;
}
button:nth-child(8){
	font-size: 20px;
	background-color: forestgreen;
}
button:nth-child(12){
	font-size: 20px;
	background-color: orange;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #75cfff;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #7582ff;
}


p.footer-bottom a {
    color: #ffffff;
    font-weight: bold;
    transition: .3s;
}
p.footer-bottom a:hover{
	text-decoration: none;
	color: red;
}
p.footer-bottom {
    color: #fff;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: absolute;
    left: -30px;
    bottom: 0;
}

/* Responsive */

@media only screen and (max-width: 768px) {
	#calculator{
		width: 100%;
		top: 0;
	}
	p.footer-bottom{
		writing-mode: horizontal-tb;
    	transform: rotate(0deg);
    	left: 20px;
    	bottom: -25px;
	}
	p.footer-bottom a {
	    color: #5429ff;
	}
	#keybord {
	    position: relative;
	    left: 25px;
	}
}