.header-container{
    position: relative;
    height: 100%;
    background-image: url('/images/chair-bg.png');
    background-position: center;
    background-size: cover;

}
.header-container::after{
    position: absolute;
    content: ' ';
    height: 100%;
    width: 33%;
    right: 0;
    background-color: #3a4256;
    top: 0;
    z-index: 10;
}