*,*::after,*::before{
	box-sizing: border-box;
}

body{
	margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00AAFF, #00FFCC);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
	background-color: rgba(255,255,255, .8);
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 2px solid #000;
	position: relative;
}

.clock .number{
	--rotation: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	transform: rotate(var(--rotation));
}

.clock .number1{ --rotation: 30deg; }
.clock .number2{ --rotation: 60deg; }
.clock .number3{ --rotation: 90deg; }
.clock .number4{ --rotation: 120deg; }
.clock .number5{ --rotation: 150deg; }
.clock .number6{ --rotation: 180deg; }
.clock .number7{ --rotation: 210deg; }
.clock .number8{ --rotation: 240deg; }
.clock .number9{ --rotation: 270deg; }
.clock .number10{ --rotation: 300deg; }
.clock .number11{ --rotation: 330deg; }

.clock .hand{
	--rotation: 0;
	position: absolute;
	bottom: 50%;
	left: 50%;
	border: 1px solid #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	transform-origin: bottom;
	transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
	z-index: 10;
}

.clock::after{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	z-index: 11;
	background-color: #000;
	content: '';
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.clock .hand.second{
	width: 3px;
	height: 45%;
	background-color: red;
}
.clock .hand.minute{
	width: 7px;
	height: 40%;
	background-color: black;
}
.clock .hand.hour{
	width: 10px;
	height: 35%;
	background-color: black;
}