form.order-form .form-control {
    margin: 15px 30px;
    border: none;
    padding: 25px 15px;
    display: inline-block;
    box-shadow: 5px 5px 15px 0px #f3f3f3;
}
select.form-control-custom {
    width: 100%;
    margin-left: 30px;
    border: none;
    padding: 15px;
}