*,*::before, *::after{
	box-sizing: border-box;
}
body{
	margin: 0;
}

:root{
	--cell-size: 100px;
	--mark-size: calc(var(--cell-size) * .9);
}
.board{
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, auto);
	align-items: center;
}

.cell{
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid #000;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
	border-top: none;
}

.cell:nth-child(3n + 1){
	border-left: none;
}
.cell:nth-child(3n + 3){
	border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
	border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after{
	background-color: #000;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
	background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
	content: '';
	width: calc(var(--mark-size) * .15);
	height: var(--mark-size);
	position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
	transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
	transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
	content: '';
	border-radius: 50%;
	position: absolute;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
	width: var(--mark-size);
	height: var(--mark-size);
	
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
	width: calc(var(--mark-size) * .7);
	height: calc(var(--mark-size) * .7);
	background-color: #fff;
}


.cell.x,
.cell.circle{
	cursor: not-allowed;
}

.wining-message{
	position: fixed;
	width: 100%;
	left: 0
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .9);
	color: #fff;
	font-size: 5em;
	flex-direction: column;
}

.wining-message button{
	font-size: 3rem;
	padding: .25em .5em;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #000;
}

.wining-message button:hover{
	background-color: #000;
	color: #fff;
	border-color: #fff;
}

.wining-message.show{
	display: flex;
}